<div class="pictures">
  <h1 class="pictures__header">Astronomy Picture of the Day</h1>

  <div class="pictures__card" *ngIf="pictures">
    <ng-container *ngFor="let picture of pictures">
      <nz-card nzHoverable [nzCover]="coverTemplate" [nzActions]="[actionSetting, share]" [nzExtra]="extraTemplate">
        <nz-card-meta [nzTitle]="picture.date" [nzDescription]="picture.explanation">
        </nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <img nz-image [nzSrc]="picture.url" [alt]="picture.title" *ngIf="picture.media_type === 'image'" />
        <iframe width="100%" height="100%" [src]="picture.url | safe" *ngIf="picture.media_type === 'video'">
        </iframe>
      </ng-template>
      <ng-template #actionSetting>
        <i class="far fa-2x fa-thumbs-up" (click)="likeThePicture(picture.title)" *ngIf="!picture.liked"></i>
        <i class="fas fa-2x fa-thumbs-up" (click)="unLikeThePicture(picture.title)" *ngIf="picture.liked"></i>
      </ng-template>
      <ng-template #share>
        <a [href]="picture.hdurl" target="_blank">
          <i class="fas fa-2x fa-share-alt"></i>
        </a>
      </ng-template>
      <ng-template #extraTemplate>
        <p class="pictures__title">{{ picture.title }}</p>
      </ng-template>
    </ng-container>

  </div>
  <div class="pictures__loader" *ngIf="loading">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</div>
